<p style="color: green"><%= notice %></p>

<%= render @notification_table %>

<div>
  <%= link_to "Edit this notification table", edit_notification_table_path(@notification_table) %> |
  <%= link_to "Back to notification tables", notification_tables_path %>

  <%= button_to "Destroy this notification table", @notification_table, method: :delete %>
</div>
