<div id="<%= dom_id feedback_table %>">
  <p>
    <strong>Firstname:</strong>
    <%= feedback_table.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= feedback_table.lastName %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= feedback_table.userName %>
  </p>

  <p>
    <strong>Eventname:</strong>
    <%= feedback_table.eventName %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= feedback_table.message %>
  </p>

</div>
