<%= form_with(model: voting_event) do |form| %>
  <% if voting_event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(voting_event.errors.count, "error") %> prohibited this voting_event from being saved:</h2>

      <ul>
        <% voting_event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :eventsName, style: "display: block" %>
    <%= form.text_field :eventsName %>
  </div>

  <div>
    <%= form.label :eventsDescription, style: "display: block" %>
    <%= form.text_field :eventsDescription %>
  </div>

  <div>
    <%= form.label :candidates, style: "display: block" %>
    <%= form.text_field :candidates %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
