<div id="<%= dom_id voting_event %>">
  <p>
    <strong>Eventsname:</strong>
    <%= voting_event.eventsName %>
  </p>

  <p>
    <strong>Eventsdescription:</strong>
    <%= voting_event.eventsDescription %>
  </p>

  <p>
    <strong>Candidates:</strong>
    <%= voting_event.candidates %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= voting_event.duration %>
  </p>

</div>
